

@media only screen and (max-width: 600px) {
	.sidebar {
		position: relative;
	}
	.navbar-toggler-icon {
		border: 2px solid white;
		margin: 0%;
		overflow: hidden;
	}
}

html,
body {
	height: 100%;
	position: relative;
}

.main-container {
	min-height: 100vh;
	/* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
}

.sidebar {
	position: sticky;
	top: 0;
	background-color: #eee;
}

.row {
	/* padding: 0%; */
	margin: 0;
	width: 100%;
}

.menu-item {
	font-weight: 500;
	display: block;
	font-size: 15px;
	padding: 5px 15px;
	color: inherit;
	text-decoration: none;
}

.menu-item:hover {
	background: #4446b6;
	padding-left: 20px;
	border-left: 3px solid #3436a1;
	text-decoration: none;
	color: White;
}

.menu-item:active,
.active {
	background: #fff;
	padding-left: 18px;
	border-left: 3px solid #3436a1;
	color: #3436a1;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
}

.page-header {
	color: #3436a1;
	font-weight: bold;
}

.page-subheader {
	color: #3436a1;
	font-weight: 600;
}

.items:hover {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	background-color: #3436a1;
	color: white;
	transition: 0.5s;
}